{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "parser": "html"
            }
        }
    ]
}
